/* add css module styles here (optional) */
.pokPdfRoot {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.25rem;
  background: linear-gradient(to bottom, #07074E, #008ACD)
}

.pokPdfHeader {
  display: flex;
  margin: 0 0 1rem 0;
  justify-content: center;
}

.pokPdfHeaderHeight {
  height: 2.3rem;
}

.pokPdfTextCenter {
  text-align: center;
}

.pokPdfHeaderContainer {
  display: flex;
  justify-content: center;
}

.pokPdfContainer {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  padding: 1rem;
}

.pokPdfPhoneLogoContainer {
  display: flex;
  justify-content: center;
  padding-top: 2.5rem;
}

.pokPdfPhoneHeight {
  height: 1.75rem;
}

.pokPdfScanAndPayHeight {
  height: 1.25rem;
}

.pokPdfPy05 {
  padding-top: 0.5rem;
  padding-bottom: 0.6rem;
}

.pokPdfMerchantLogo {
  margin-top: 0.5rem;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 2.3rem;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
}

.pokPdfH5 {
  height: 0.75rem !important;
}

.pokPdfQrContainer {
  background: #EBEFF4;
  padding: 0.75rem;
  border-radius: 0.75rem;
}

.pokPdfFooter {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  background: #EBEFF4;
  border-radius: 1rem;
  margin-top: 2rem;
  width: 100%;
}

.pokPdfFooterQrContainer {
  padding: 0;
  border-radius: 0.5rem;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokPdfFooterContent {
  margin-left: 1rem;
  padding-top: 0.5rem;
  width: 100%;
}

.pokPdfFooterText {
  font-weight: bolder;
  font-size: 0.575rem;
  line-height: 1rem;
  font-family: "DejaVu Sans", "Arial", sans-serif;
}

.pokPdfFooterText {
  font-weight: bolder;
  font-size: 0.575rem;
  line-height: 1rem;
  font-family: "DejaVu Sans", "Arial", sans-serif;
}

.pokPdfFooterStoreContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pokPdfFooterLink {
  color: #008ACD;
  font-size: 0.575rem;
  padding-top: 0.2rem;
  line-height: 1rem;
  font-family: "DejaVu Sans", "Arial", sans-serif;
}


.pokPdfFooterDownloadContainer {
  display: flex;
  flex-direction: row;
  padding-top: 0.2rem;
}

.pokPdfAppStore {
  height: 1rem;
  margin-right: 0.375rem;
  display: flex;
  justify-content: center;
}

.pokPdfPlayStore {
  height: 1rem;
  display: flex;
  justify-content: center;
}


@font-face {
  font-family: "DejaVu Sans";
  src: url("https://kendo.cdn.telerik.com/2017.2.621/styles/fonts/DejaVu/DejaVuSans.ttf") format("truetype");
}

@font-face {
  font-family: "DejaVu Sans";
  font-weight: bold;
  src: url("https://kendo.cdn.telerik.com/2017.2.621/styles/fonts/DejaVu/DejaVuSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "DejaVu Sans";
  font-style: italic;
  src: url("https://kendo.cdn.telerik.com/2017.2.621/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf") format("truetype");
}

@font-face {
  font-family: "DejaVu Sans";
  font-weight: bold;
  font-style: italic;
  src: url("https://kendo.cdn.telerik.com/2017.2.621/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf") format("truetype");
}

